// Primary Color
$marineBlue: hsl(213, 96%, 18%);
$purplishBlue: hsl(243, 100%, 62%);
$pastelblue: hsl(228, 100%, 84%);
$lightBlue: hsl(206, 94%, 87%);
$strawberryRed: hsl(354, 84%, 57%);
// Neutral Color
$coolGray: hsl(231, 11%, 63%);
$lightGray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

$boxShadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
	rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$borderRadius: 8px;
